.nav-links a{
  text-decoration: none;
  color: #021B29;
  font-weight: bold;
  margin-right: 18px;
  font-size: 17px;
}

.signup-btn a{
  background:#F2A70C;
  padding: 0;
  color: #021B29;
  padding: 5px 12px;
  border-radius: 15px;
}
.bg-shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}